body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section-one {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-logo, .header-links {
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 100px 150px;
}

.hero-text {
    width: 35%;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    margin-top: 8px;
    border-radius: 8px;
    background-color: #3882F6;
    border: none;
    padding: 10px 32px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 250px;
    width: 50%;
    margin-top: 30px;
    background-color: #747e8b;
}

/* End of section one */

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.squares-container {
    display: flex;
    margin: 20px;
    gap: 38px;
}

.square {
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.subtext-container {
    display: flex;
    gap: 30px;
}

.subtext {
    width: 165px;
    text-align: center;
    color: #60656d;
    margin-top: 0;
    margin-bottom: 50px;
}

/* End of section two */

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 70px 250px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote-name-container {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30px;
}

/* End of section three */

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    height: 130px;
    width: 900px;
    border-radius: 10px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px;
}

.cta-heading {
    margin-bottom: 0;
    font-size: 20px;
    color:#E5E7EB;
}

.cta-wording {
    margin-top: 0;
    font-size: 15px;
}

.cta-button {
    border: 2px solid #E5E7EB;
}

/* End of section four */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 20px;
}

.copyright {
    font-size: 15px;
}
